@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-background: #ffffff;

  /* Main text color for paragraphs */
  --color-body-main: #a1a1a1;

  /* Primary text color (used for headings and prominent text) */
  --color-body-primary: #333333;

  /* --color-dark-grey: #767676; */

  /* Card background color */
  --color-card-bg: #f6f6f6;

  /* Card border color */
  --color-card-border: #e3e3e3;

  /* Accent color for slider buttons and card hover */
  --color-accent: #d82519;

  --font-inter: var(--font-inter);

  --shadow-slider-btn: 0px 0px 22px 0px #d8251966;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;

  @variant max-sm {
    max-width: 100%;
    padding-inline: 1.375rem;
  }

  @variant sm {
    max-width: 100%;
    padding-inline: 2rem;
  }

  @variant md {
    max-width: 100%;
    padding-inline: 2rem;
  }

  @variant lg {
    max-width: 100%;
    padding-inline: 2.625rem;
  }

  @variant xl {
    max-width: 100%;
  }

  @variant 2xl {
    max-width: 96rem;
  }
}

@layer utilities {
  h2 {
    @apply from-accent to-body-primary bg-gradient-to-b bg-clip-text text-center text-[2.5rem] leading-tight text-transparent md:text-[4.375rem];
  }

  .member-detail-info-container {
    @apply grid grid-cols-[90px_1fr] gap-4 sm:grid-cols-[10.625rem_1fr] md:grid-cols-[100px_1fr] md:gap-10 lg:gap-14;
  }
  .member-detail-tile {
    @apply text-body-primary text-xs leading-tight font-medium lg:text-xl;
  }

  .member-detail-info {
    @apply text-body-main flex-1 text-xs leading-tight font-medium lg:text-xl;
  }
}

@media (min-width: 365px) and (max-width: 640px) {
  .before-sm {
    width: 88vw;
  }
}
